# PyCity Schools Analysis

1. Charter schools perform better than district shcools
2. As a whole, smaller and medium sized schools by far performed better than large sized schools on passing math performances.
3. The data suggests that the performance of a school's students is inversley related to the school's spending per student. It is possible that this is simply because the larger schools are more expensive, and larger schools perform worse.

In [39]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [40]:
# Calculate the total number of unique schools
unique_school_name = school_data_complete['school_name'].unique()
total_school_number = len(unique_school_name)
total_school_number

15

In [41]:
# Calculate the total number of students
total_student_number = school_data_complete["student_name"].count()
total_student_number

39170

In [42]:
# Calculate the total budget
total_budget = school_data["budget"].sum()

total_budget

24649428

In [43]:
# Calculate the average (mean) math score
average_math_score = student_data[("math_score")].mean()

average_math_score

78.98537145774827

In [44]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score

81.87784018381414

In [45]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
number_students_passing_math = students_passing_math["Student ID"].count()

percent_passing_math = (number_students_passing_math / total_student_number) * 100
percent_passing_math

74.9808526933878

In [46]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
number_students_passing_reading = students_passing_reading["Student ID"].count()

percent_passing_reading = (number_students_passing_reading / total_student_number) * 100
percent_passing_reading

85.80546336482001

In [47]:
# Use the following to calculate the percentage of students that passed math and reading
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
overall_passing_rate

80.39315802910392

In [50]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = [{"Total Schools": total_school_number, 
            "Total Students": total_student_number, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
           "% Passing Math": round(percent_passing_math,2),
           "% Passing Reading": round(percent_passing_reading,2),
           "% Overall Passing Rate": round(overall_passing_rate,2)}]
district_summary_table = pd.DataFrame(district_summary)


# Formatting
district_summary_table["% Passing Math"] = district_summary_table["% Passing Math"].map("{:,.2f}%".format)
district_summary_table["% Passing Reading"] = district_summary_table["% Passing Reading"].map("{:,.2f}%".format)
district_summary_table["% Overall Passing Rate"] = district_summary_table["% Overall Passing Rate"].map("{:,.2f}%".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("${:,.2f}".format)
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)


# Display the DataFrame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

In [57]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types.head(3)

school_name
Huang High School       District
Figueroa High School    District
Shelton High School      Charter
Name: type, dtype: object

In [71]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts.head(3)

school_name
Huang High School       2917
Figueroa High School    2949
Shelton High School     1761
Name: size, dtype: int64

In [78]:
# Calculate the total school budget and per capita spending 
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget.head(3)
per_school_capita = per_school_budget / per_school_counts
per_school_capita.head(3)

school_name
Huang High School       655.0
Figueroa High School    639.0
Shelton High School     600.0
dtype: float64

In [105]:
# Calculate the average test scores 
average_math_score = school_data_complete["math_score"].mean()
average_math_score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [106]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_math.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635

In [107]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_passing_reading.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [108]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_math_and_reading.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [109]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]
                                                       ).count()["student_name"] / per_school_counts * 100
print(per_school_passing_math.head(3))
per_school_passing_reading = school_passing_reading.groupby(["school_name"]
                                                             ).count()["student_name"] / per_school_counts * 100
print(per_school_passing_reading.head(3))
per_school_passing_overall = passing_math_and_reading.groupby(["school_name"]
                                                               ).count()["student_name"] / per_school_counts * 100
print(per_school_passing_overall.head(3))

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
dtype: float64
school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
dtype: float64
school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
dtype: float64

In [115]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame ({"School Type" : school_types, 
                                  "Total Students" : per_school_counts,
                                  "Total School Budget" : per_school_budget,
                                  "Per Student Budget" : per_school_capita,
                                  "Average Math Score" : average_math_score,
                                  "Average Reading Score" : average_reading_score,
                                  "% Passing Math" : per_school_passing_math,
                                  "% Passing Reading" : per_school_passing_reading,
                                  "% Overall Passing" : per_school_passing_overall})
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.6f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.6f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.3f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.3f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.3f}%".format)


# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.877840,66.680%,81.933%,54.642%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.877840,94.133%,97.040%,91.335%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.877840,65.988%,80.739%,53.204%
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.877840,68.310%,79.299%,54.290%
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.877840,93.392%,97.139%,90.599%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.877840,66.753%,80.863%,53.528%
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.877840,92.506%,96.253%,89.227%
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.877840,65.684%,81.316%,53.514%
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.877840,66.058%,81.222%,53.539%
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.877840,94.595%,95.946%,90.541%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.877840,66.367%,80.220%,52.988%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.877840,93.867%,95.855%,89.892%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.877840,93.272%,97.309%,90.948%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.877840,93.868%,96.540%,90.583%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.877840,93.333%,96.611%,90.333%

## Highest-Performing Schools (by % Overall Passing)

In [130]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.877840,94.133%,97.040%,91.335%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.877840,93.272%,97.309%,90.948%
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.877840,93.392%,97.139%,90.599%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.877840,93.868%,96.540%,90.583%
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.877840,94.595%,95.946%,90.541%

In [131]:
## Bottom Performing Schools (By % Overall Passing)

In [132]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.877840,66.367%,80.220%,52.988%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.877840,65.988%,80.739%,53.204%
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.877840,65.684%,81.316%,53.514%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.877840,66.753%,80.863%,53.528%
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.877840,66.058%,81.222%,53.539%

## Math Scores by Grade

In [151]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of each.
ninth_grade_math_scores = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_grade_math_scores = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math_scores = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math_scores = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
        "9th Grade Math Scores": ninth_grade_math_scores,
        "10th Grade Math Scores": tenth_grade_math_scores,
        "11th Grade Math Scores": eleventh_grade_math_scores,
        "12th Grade Math Scores": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = 'School name'

# Display the DataFrame
math_scores_by_grade

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
School name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [ ]:
## Reading Score by Grade

In [222]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading_scores = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading_scores = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading_scores = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th Grade Reading Scores": ninth_grade_reading_scores,
                                        "10th Grade Reading Scores": tenth_grade_reading_scores,
                                        "11th Grade Reading Scores": eleventh_grade_reading_scores,
                                        "12th Grade Reading Scores": twelfth_grade_reading_scores})
# Minor data wrangling
reading_scores_by_grade.index.name = None
                                                       
# Display the DataFrame
reading_scores_by_grade

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

In [264]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [285]:
# Create a copy of the school summary since it has the "Per Student Budget"
per_school_summary = per_school_summary.copy()

In [286]:
# Use `pd.cut` to categorize spending based on the bins.
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

In [289]:
#  Calculate averages for the desired columns.
spending_math_scores = per_school_summary.groupby(["Average Math Score"]).mean()
spending_reading_scores = per_school_summary.groupby(["Average Reading Score"]).mean()
spending_passing_math = per_school_summary.groupby([ "% Passing Math"]).mean()
spending_passing_reading = per_school_summary.groupby(["% Passing Reading)"]).mean()
overall_passing_spending = per_school_summary.groupby(["Overall Passing"]).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [291]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores.round(2),
                                 "Average Reading Score": spending_reading_scores.round(2),
                                 "% Passing Math": spending_passing_math.round(2),
                                 "% Passing Reading": spending_passing_reading.round(2),
                                 "% Overall Passing": overall_passing_spending.round(2)})




# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

In [ ]:
## Scores by School Size

In [278]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [295]:
# Categorize the spending based on the bins  
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names, right=False)
per_school_summary

ValueError: Bin labels must be one fewer than the number of bin edges

In [279]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

/var/folders/3t/q29gp6gs08l_66wz73d1_w280000gn/T/ipykernel_15800/3588142246.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [296]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": size_overall_passing})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [297]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score" : average_math_score_by_type,
                                        "Average Reading Score" : average_reading_score_by_type,
                                        "% Passing Math" : average_percent_passing_math_by_type,
                                        "% Passing Reading" : average_percent_passing_reading_by_type,
                                        "% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined